In [1]:
import os 
os.getcwd()

'C:\\Users\\jasva\\Netflix Recommendation System'

In [2]:
import numpy as np 
import pandas as pd 
from sklearn.feature_extraction import text 
from sklearn.metrics.pairwise import cosine_similarity # use for recommend

In [3]:
df = pd.read_csv("archive (2).zip")
df

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type,Date Added
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,This docuseries takes a deep dive into the luc...,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,#Alive,"As a grisly virus rampages a city, a lone man ...",Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie,"September 8, 2020"
2,b01b73b7-81f6-47a7-86d8-acb63080d525,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Sabina Fedeli, Anna Migotto","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Italy,2019.0,TV-14,95 min,6.4/10,Movie,"July 1, 2020"
3,b6611af0-f53c-4a08-9ffa-9716dc57eb9c,#blackAF,Kenya Barris and his family navigate relations...,NaN,TV Comedies,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
4,7f2d4170-bab8-4d75-adc2-197f7124c070,#cats_the_mewvie,This pawesome documentary explores how our fel...,Michael Margolis,"Documentaries, International Movies",NaN,Canada,2020.0,TV-14,90 min,5.1/10,Movie,"February 5, 2020"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962,62b8b682-f191-4c10-aa04-32319329bd8d,الف مبروك,"On his wedding day, an arrogant, greedy accoun...",Ahmed Nader Galal,"Comedies, Dramas, International Movies","Ahmed Helmy, Laila Ezz El Arab, Mahmoud El Fis...",Egypt,2009.0,TV-14,115 min,7.4/10,Movie,"April 25, 2020"
5963,5bed77ab-5e31-4216-8b51-44c9a35442e6,دفعة القاهرة,A group of women leaves Kuwait to attend unive...,NaN,"International TV Shows, TV Dramas","Bashar al-Shatti, Fatima Al Safi, Maram Baloch...",NaN,2019.0,TV-14,1 Season,NaN,TV Show,NaN
5964,4661ec0c-8692-4661-bc76-a96412b311fd,海的儿子,"Two brothers start a new life in Singapore, wh...",NaN,"International TV Shows, TV Dramas","Li Nanxing, Christopher Lee, Jesseca Liu, Appl...",NaN,2016.0,TV-14,1 Season,NaN,TV Show,NaN
5965,145c93a7-1924-403c-a933-4ede8ad66f26,반드시 잡는다,After people in his town start turning up dead...,Hong-seon Kim,"Dramas, International Movies, Thrillers",Baek Yoon-sik,South Korea,2017.0,TV-MA,110 min,6.5/10,Movie,"February 28, 2018"
5966,d4613d34-cb71-4bd6-b570-fa857f02c44d,최강전사 미니특공대 : 영웅의 탄생,"Miniforce, a special task force of elite range...",Young Jun Lee,Children & Family Movies,"Um Sang-hyun, Yang Jeong-hwa, Jeon Tae-yeol, S...",NaN,2018.0,TV-Y7,68 min,4.7/10,Movie,"September 1, 2018"

In [4]:
df.head()

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type,Date Added
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,This docuseries takes a deep dive into the luc...,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,#Alive,"As a grisly virus rampages a city, a lone man ...",Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie,"September 8, 2020"
2,b01b73b7-81f6-47a7-86d8-acb63080d525,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Sabina Fedeli, Anna Migotto","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Italy,2019.0,TV-14,95 min,6.4/10,Movie,"July 1, 2020"
3,b6611af0-f53c-4a08-9ffa-9716dc57eb9c,#blackAF,Kenya Barris and his family navigate relations...,NaN,TV Comedies,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
4,7f2d4170-bab8-4d75-adc2-197f7124c070,#cats_the_mewvie,This pawesome documentary explores how our fel...,Michael Margolis,"Documentaries, International Movies",NaN,Canada,2020.0,TV-14,90 min,5.1/10,Movie,"February 5, 2020"

In [5]:
df.isnull().sum()

Show Id                  0
Title                    0
Description              0
Director              2064
Genres                   0
Cast                   530
Production Country     559
Release Date             3
Rating                   4
Duration                 3
Imdb Score             608
Content Type             0
Date Added            1335
dtype: int64

In [6]:
df = df[["Title", "Description", "Content Type" , "Genres" ]]
df.head()

,Title,Description,Content Type,Genres
0,(Un)Well,This docuseries takes a deep dive into the luc...,TV Show,Reality TV
1,#Alive,"As a grisly virus rampages a city, a lone man ...",Movie,"Horror Movies, International Movies, Thrillers"
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...",Movie,"Documentaries, International Movies"
3,#blackAF,Kenya Barris and his family navigate relations...,TV Show,TV Comedies
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,Movie,"Documentaries, International Movies"

In [7]:
df.isnull().sum()

Title           0
Description     0
Content Type    0
Genres          0
dtype: int64

In [8]:
df = df.dropna()
df

,Title,Description,Content Type,Genres
0,(Un)Well,This docuseries takes a deep dive into the luc...,TV Show,Reality TV
1,#Alive,"As a grisly virus rampages a city, a lone man ...",Movie,"Horror Movies, International Movies, Thrillers"
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...",Movie,"Documentaries, International Movies"
3,#blackAF,Kenya Barris and his family navigate relations...,TV Show,TV Comedies
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,Movie,"Documentaries, International Movies"
...,...,...,...,...
5962,الف مبروك,"On his wedding day, an arrogant, greedy accoun...",Movie,"Comedies, Dramas, International Movies"
5963,دفعة القاهرة,A group of women leaves Kuwait to attend unive...,TV Show,"International TV Shows, TV Dramas"
5964,海的儿子,"Two brothers start a new life in Singapore, wh...",TV Show,"International TV Shows, TV Dramas"
5965,반드시 잡는다,After people in his town start turning up dead...,Movie,"Dramas, International Movies, Thrillers"
5966,최강전사 미니특공대 : 영웅의 탄생,"Miniforce, a special task force of elite range...",Movie,Children & Family Movies

In [9]:
import nltk 
import re # re = regular expression

In [10]:
os.listdir()

['.ipynb_checkpoints', 'archive (2).zip', 'code.ipynb']

In [11]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\jasva\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [12]:
stemmer = nltk.SnowballStemmer("english")
from nltk.corpus import stopwords # load stopwords
import string 
stopword = set(stopwords.words('english'))

In [13]:
def clean(text):
    text = str(text).lower()
    text = re.sub('\[.*?\]','', text)
    text = re.sub('https?://S+|www\.\S+','', text)
    text = re.sub('<.*?>+', '' , text)
    text = re.sub('[%s]' % re.escape(string.punctuation),'', text)
    text = re.sub('\n','', text)
    text = re.sub('\w\d\w*','',text)
    text = [word for word in text.split(' ') if word not in stopwords]
    text = " ".join(text)

In [14]:
#df["Title"] = df["Title"].apply(clean)

In [15]:
df.Title.sample(10)

4807                                   The Exception
4180    Seven Souls in the Skull Castle: Season Bird
616                                       Best Lover
5110                                     The Patriot
953                                             Chef
5501                                        Triple 9
165                                  A Way Back Home
5898                                         YES DAY
5507                                    Trollhunters
2356                  Jen Kirkman: Just Keep Livin’?
Name: Title, dtype: object

In [16]:
df.columns

Index(['Title', 'Description', 'Content Type', 'Genres'], dtype='object')

In [17]:
df.Genres

0                                           Reality TV
1       Horror Movies, International Movies, Thrillers
2                  Documentaries, International Movies
3                                          TV Comedies
4                  Documentaries, International Movies
                             ...
5962            Comedies, Dramas, International Movies
5963                 International TV Shows, TV Dramas
5964                 International TV Shows, TV Dramas
5965           Dramas, International Movies, Thrillers
5966                          Children & Family Movies
Name: Genres, Length: 5967, dtype: object

In [18]:
df.Genres[20:100]

20              Crime TV Shows, TV Dramas, TV Mysteries
21                           Crime TV Shows, Docuseries
22                                        Documentaries
23                                        Documentaries
24                 Comedies, Dramas, Independent Movies
                            ...
95    Children & Family Movies, Dramas, Romantic Movies
96    Children & Family Movies, Dramas, Romantic Movies
97                                               Movies
98    Children & Family Movies, Comedies, Music & Mu...
99                  Horror Movies, International Movies
Name: Genres, Length: 80, dtype: object

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.metrics.pairwise import cosine_similarity

In [20]:
feature = df['Genres'].tolist()

#Create an instance of TF-IDF-Vectorizer
tfidf = TfidfVectorizer(stop_words="english")

# Fit and transform the vectorizer on our corpus 
tfidf_matrix = tfidf.fit_transform(feature)

#Compute the cosine similarity matrix similarity 
similarity = cosine_similarity(tfidf_matrix)
indices = pd.Series(df.index,
                   index=df['Title']).drop_duplicates()

In [21]:
def netflix_recommendation(title):
    try:
        index = indices [title]
        similarity_scores = list(enumerate (similarity [index]))
        similarity_scores = sorted (similarity_scores, key=lambda x: x[1] , reverse = True)
        similarity_scores = similarity_scores [0:10]
        movieindices = [i[0] for i in similarity_scores]
        return df['Title'].iloc[movieindices]
    except:
        print(title , " not in Database")

In [22]:
print(indices)

Title
(Un)Well                            0
#Alive                              1
#AnneFrank - Parallel Stories       2
#blackAF                            3
#cats_the_mewvie                    4
                                 ...
الف مبروك                        5962
دفعة القاهرة                     5963
海的儿子                             5964
반드시 잡는다                          5965
최강전사 미니특공대 : 영웅의 탄생              5966
Length: 5967, dtype: int64

In [23]:
print(indices["#Alive"])

1

In [24]:
netflix_recommendation("#Alive")

1                           #Alive
178                         Aaviri
360                   Andhaghaaram
361                    Andhakaaram
398                        Apostle
1759     Game Over (Hindi Version)
1760     Game Over (Tamil Version)
1761    Game Over (Telugu Version)
1801                     Ghost Lab
1804                 Ghost Stories
Name: Title, dtype: object

In [25]:
netflix_recommendation("Tiger 3")

Tiger 3  not in Database

In [26]:
netflix_recommendation("Hero")

173       Aakhri Adaalat
197    Acts of Vengeance
484            Baadshaho
485               Baaghi
530         Bang Rajan 2
598           Below Zero
685                Black
688          Black Beach
808       Brick Mansions
844             Burn Out
Name: Title, dtype: object